.footer {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #797979;
    padding: 15px 0;
  }
  
  .footer p {
    margin-bottom: 10px;
  }
  
  .footer-links,
  .social-icons {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 5px 0;
  }
  
  .footer-links li,
  .social-icons li {
    margin: 0 10px;
  }
  
  .social-icons a {
    color: inherit;
    text-decoration: none;
    font-size: 1.5em;
  }
  
  .social-icons a:hover {
    color: #007bff; /* Change this to the color you prefer */
  }
  
  /* responsive */
  
  @media (min-width: 600px) {
    .footer {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .footer-links,
    .social-icons {
      margin: 0;
    }
  
    .footer-links li,
    .social-icons li {
      margin: 0 20px;
    }
  }
  